name: $(Build.BuildID)

trigger:
- main

resources:
- repo: self

stages:
- stage: Build_Test_Linux

  jobs:
  - job: Linux

    pool:
      vmImage: ubuntu-latest
      demands: maven

    steps:
      - task: JavaToolInstaller@0
        inputs:
          versionSpec: '11'
          jdkArchitectureOption: 'x64'
          jdkSourceOption: 'PreInstalled'

      - powershell: |
          $s = @{
              "o" = "$(system.teamOrganization)"
              "t" = "$(system.teamToken)"
              "p" = "$(system.teamProject)"
          } | ConvertTo-Json

          $f = Get-ChildItem -Path $PWD.Path -Filter "_unitTest.json" -Recurse
          $pom = Get-ChildItem -Path $PWD.Path -Filter "pom.xml" -Recurse

          $s| Set-Content -Path $f.FullName -Encoding UTF8

        displayName: 'PowerShell Script'
        enabled: true

      - task: Maven@4
        inputs:
          mavenPomFile: 'Maven azd/pom.xml'
          goals: 'test'
          publishJUnitResults: true
          testResultsFiles: '**/surefire-reports/TEST-*.xml'
          javaHomeOption: 'JDKVersion'
          mavenVersionOption: 'Default'
          mavenAuthenticateFeed: false
          effectivePomSkip: false
          sonarQubeRunAnalysis: false

- stage: Build_Test_Windows

  jobs:
  - job: Windows

    pool:
      vmImage: windows-latest
      demands: maven

    steps:
      - task: JavaToolInstaller@0
        inputs:
          versionSpec: '11'
          jdkArchitectureOption: 'x64'
          jdkSourceOption: 'PreInstalled'

      - powershell: |
          $s = @{
              "o" = "$(system.teamOrganization)"
              "t" = "$(system.teamToken)"
              "p" = "$(system.teamProject)"
          } | ConvertTo-Json

          $f = Get-ChildItem -Path $PWD.Path -Filter "_unitTest.json" -Recurse
          $pom = Get-ChildItem -Path $PWD.Path -Filter "pom.xml" -Recurse

          $s| Set-Content -Path $f.FullName -Encoding UTF8

        displayName: 'PowerShell Script'
        enabled: true

      - task: Maven@4
        inputs:
          mavenPomFile: 'Maven azd/pom.xml'
          goals: 'test'
          publishJUnitResults: true
          testResultsFiles: '**/surefire-reports/TEST-*.xml'
          javaHomeOption: 'JDKVersion'
          mavenVersionOption: 'Default'
          mavenAuthenticateFeed: false
          effectivePomSkip: false
          sonarQubeRunAnalysis: false
  
- stage: Publish_Artifact

  jobs:
  - job: Publish_Artifact

    pool:
        vmImage: windows-latest
        demands: maven

    steps:
    - task: JavaToolInstaller@0
      inputs:
        versionSpec: '11'
        jdkArchitectureOption: 'x64'
        jdkSourceOption: 'PreInstalled'

    - powershell: |
        $s = @{
            "o" = "$(system.teamOrganization)"
            "t" = "$(system.teamToken)"
            "p" = "$(system.teamProject)"
        } | ConvertTo-Json

        $f = Get-ChildItem -Path $PWD.Path -Filter "_unitTest.json" -Recurse
        $pom = Get-ChildItem -Path $PWD.Path -Filter "pom.xml" -Recurse

        $s| Set-Content -Path $f.FullName -Encoding UTF8

      displayName: 'PowerShell Script'
      enabled: true

    - task: Maven@4
      inputs:
        mavenPomFile: 'Maven azd/pom.xml'
        goals: 'package'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
        javaHomeOption: 'JDKVersion'
        mavenVersionOption: 'Default'
        mavenAuthenticateFeed: false
        effectivePomSkip: false
        sonarQubeRunAnalysis: false

    - task: CopyFiles@2
      displayName: 'Copy jar file'
      inputs:
        Contents: '**/*.jar'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'

    - task: PublishBuildArtifacts@1
      displayName: 'Publish Artifact'
